In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\jerem\jedha essential\projet\btc-usdt.csv')

In [3]:
df

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
0,2019-07-30 00:00:00.000000000,9509.07,9535.00,9503.07,9517.75,381.293856,2019-07-30 00:29:59.999000064,3.631211e+06,3492,216.528742,2.062189e+06,0
1,2019-07-30 00:30:00.000000000,9517.03,9539.00,9507.00,9532.58,258.514869,2019-07-30 00:59:59.999000064,2.462134e+06,3133,141.887550,1.351182e+06,0
2,2019-07-30 01:00:00.000000000,9533.59,9534.00,9500.00,9500.25,275.797270,2019-07-30 01:29:59.999000064,2.624322e+06,3583,114.238457,1.087402e+06,0
3,2019-07-30 01:30:00.000000000,9500.25,9514.46,9460.71,9465.25,485.218470,2019-07-30 01:59:59.999000064,4.604004e+06,5330,225.681291,2.141459e+06,0
4,2019-07-30 02:00:00.000000000,9465.25,9488.94,9430.01,9460.42,498.669626,2019-07-30 02:29:59.999000064,4.717269e+06,6197,228.535910,2.162163e+06,0
...,...,...,...,...,...,...,...,...,...,...,...,...
55377,2022-09-27 16:30:00.000000000,19492.21,19499.25,18918.77,19110.79,26161.207970,2022-09-27 16:59:59.999000064,5.023024e+08,387906,12688.708680,2.436155e+08,0
55378,2022-09-27 17:00:00.000000000,19110.79,19115.89,18863.70,18951.06,18934.520590,2022-09-27 17:29:59.999000064,3.591860e+08,296066,9541.655690,1.810139e+08,0
55379,2022-09-27 17:30:00.000000000,18951.06,19036.61,18863.01,18957.20,16295.646700,2022-09-27 17:59:59.999000064,3.087666e+08,215243,8314.073130,1.575401e+08,0
55380,2022-09-27 18:00:00.000000000,18957.95,18997.46,18816.32,18951.87,15640.015570,2022-09-27 18:29:59.999000064,2.959602e+08,187739,7550.577350,1.428867e+08,0
55381,2022-09-27 18:30:00.000000000,18950.71,19159.83,18924.64,19103.23,15654.964820,2022-09-27 18:59:59.999000064,2.983022e+08,176543,7904.586110,1.506201e+08,0

In [4]:
df.describe(include="all")

,Open Time,Open,High,Low,Close,Volume,Close Time,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,Ignore
count,55382,55382.000000,55382.00000,55382.000000,55382.000000,55382.000000,55382,5.538200e+04,55382.000000,55382.000000,5.538200e+04,55382.0
unique,55382,NaN,NaN,NaN,NaN,NaN,55382,NaN,NaN,NaN,NaN,NaN
top,2019-07-30 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,2019-07-30 00:29:59.999000064,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,27078.813587,27185.77378,26966.475610,27078.982988,1579.114365,NaN,4.081011e+07,31197.703730,778.687119,2.013084e+07,0.0
std,NaN,17839.585463,17913.22781,17762.200793,17839.460704,1816.713059,NaN,4.957040e+07,34157.700119,902.016916,2.456981e+07,0.0
min,NaN,4131.230000,4258.53000,3782.130000,4130.640000,0.000000,NaN,0.000000e+00,0.000000,0.000000,0.000000e+00,0.0
25%,NaN,9718.515000,9742.96250,9684.062500,9718.702500,629.812325,NaN,9.585103e+06,11501.250000,308.330359,4.661086e+06,0.0
50%,NaN,21747.490000,21846.32500,21659.630000,21747.475000,1023.727193,NaN,2.517800e+07,20332.500000,500.166608,1.230260e+07,0.0
75%,NaN,42236.362500,42389.46500,42107.057500,42236.362500,1797.494066,NaN,5.425812e+07,36782.000000,887.614656,2.672589e+07,0.0
max,NaN,68635.120000,69000.00000,68462.960000,68633.690000,74378.715690,NaN,1.625288e+09,594885.000000,37099.582260,8.106535e+08,0.0

In [5]:
df.isnull().any()

Open Time             False
Open                  False
High                  False
Low                   False
Close                 False
Volume                False
Close Time            False
Quote Asset Volume    False
Number of Trades      False
TB Base Volume        False
TB Quote Volume       False
Ignore                False
dtype: bool

In [6]:
df["Open Time"] = df["Open Time"].apply(lambda x: x.replace(".000000000", ""))

In [7]:
df = df.drop(["Close Time", 'Ignore'], axis=1,)

In [8]:
x = df.iloc[1:,1].reset_index()["Open"]
y = df.iloc[:-1,1].reset_index()["Open"]

In [10]:
df["forward"] = (y -x) / x * 10000

In [13]:
df["Performance"] = (x -y) / y * 10000

In [14]:
df

,Open Time,Open,High,Low,Close,Volume,Quote Asset Volume,Number of Trades,TB Base Volume,TB Quote Volume,forward,Performance
0,2019-07-30 00:00:00,9509.07,9535.00,9503.07,9517.75,381.293856,3.631211e+06,3492,216.528742,2.062189e+06,-8.363954,8.370955
1,2019-07-30 00:30:00,9517.03,9539.00,9507.00,9532.58,258.514869,2.462134e+06,3133,141.887550,1.351182e+06,-17.370162,17.400386
2,2019-07-30 01:00:00,9533.59,9534.00,9500.00,9500.25,275.797270,2.624322e+06,3583,114.238457,1.087402e+06,35.093813,-34.971086
3,2019-07-30 01:30:00,9500.25,9514.46,9460.71,9465.25,485.218470,4.604004e+06,5330,225.681291,2.141459e+06,36.977365,-36.841136
4,2019-07-30 02:00:00,9465.25,9488.94,9430.01,9460.42,498.669626,4.717269e+06,6197,228.535910,2.162163e+06,3.720250,-3.718866
...,...,...,...,...,...,...,...,...,...,...,...,...
55377,2022-09-27 16:30:00,19492.21,19499.25,18918.77,19110.79,26161.207970,5.023024e+08,387906,12688.708680,2.436155e+08,199.583586,-195.678171
55378,2022-09-27 17:00:00,19110.79,19115.89,18863.70,18951.06,18934.520590,3.591860e+08,296066,9541.655690,1.810139e+08,84.285523,-83.581056
55379,2022-09-27 17:30:00,18951.06,19036.61,18863.01,18957.20,16295.646700,3.087666e+08,215243,8314.073130,1.575401e+08,-3.634359,3.635681
55380,2022-09-27 18:00:00,18957.95,18997.46,18816.32,18951.87,15640.015570,2.959602e+08,187739,7550.577350,1.428867e+08,3.820437,-3.818978
55381,2022-09-27 18:30:00,18950.71,19159.83,18924.64,19103.23,15654.964820,2.983022e+08,176543,7904.586110,1.506201e+08,NaN,NaN